{extend name="../../admin/view/main"}
{block name="button"}
{/block}
{block name='content'}
<div class="think-box-shadow">
    {include file='user/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class="text-left nowrap">编号</th>
            <th class="text-left">Code</th>
            <th class="text-left nowrap">图片</th>
            <th class="text-left" style="width: 100px;">昵称</th>
            <th class="text-left nowrap">手机号</th>
            <th class="text-left nowrap">appid</th>
            <th class="text-left nowrap">身份</th>
            <th class="text-left nowrap">佣金</th>
            <th class="text-left nowrap">创建时间</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class="text-left nowrap">{$vo.id}</td>
            <td class="text-left nowrap">{$vo.code}</td>
            <td class="text-left">
                <div style="width: 50px;height: 50px;" data-tips-image data-lazy-src="{$vo.head_img_url}"></div>
            </td>
            <td class="text-left">{$vo.nickname}</td>
            <td class="text-left nowrap">{$vo.mobile}</td>
            <td class="text-left nowrap">{$vo.sharer_appid}</td>
            <td class="text-left nowrap">{$vo.role_id|roleName}</td>
            <td class="text-left">
                可提现佣金：{$vo.commission|formatMoney2}<br>
                已提现佣金：{$vo.commission_got|formatMoney2}<br>
            </td>
            <td class="text-left nowrap">{$vo.create_at}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}